body {
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 30px;
  font-weight: 400;
	color: #533738;

	background-color: #F6EDE9;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #533738;
}

h1 {
  font-size: 16px;
  line-height: 20px;
	font-weight: 400;
}

h2 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

.nav-item,
.phone {
	font-size: 16px;
	line-height: 20px;
}

.section-1 {
	background-image: url("/assets/img/main.png");
	height: 715px;
}

.slogan {
	font-size: 50px;
  line-height: 62px;
  font-weight: 400;
	text-transform: none;
}

.button {
	width: 310px;
	height: 74px;
	text-align: center;
	
	background-color: #CC8B86;
}

.application {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
}

.company-description {
  width: 528px;
	height: 330px;
}


.portfolio-description {
	background: url("/assets/img/portfolio1.png") no-repeat;
}